#todoListDiv{

	float:left;
	
}
#doingListDiv{
	float:left;

}

.todo_item{

	display:block;
	height:100px;
	position:relative;
	border:1px solid #ccc;
	margin: 10px;
	width: 280px;


}

.doing_list{
 	display:block;
	height:auto;
	position: relative;;
	border:2px solid #ccc;
	margin:10px;
	width:380px;


}

.doing_list >div{

	height:400px;
}

.doing_item{

	display:block;
	height:50px;
	position:relative;

	border:1px solid #ccc;
	margin: 10px;
	width: 280px;


}

.todo_list{
 	display:block;
	height:auto;
	position: relative;
	
	border:2px solid #ccc;
	margin:10px;
	width:380px;

}
.todo_list .input_div{
	margin:50px;

}
.todo_list>h3{
	text-align:center;

}

.todo_list .tododroppable{

	height:400px;
}

